h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  letter-spacing: 5px;
  font-size: 3.2vw;
  color: #000000;
  text-align: center;
  margin-bottom: 5vw;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 1.8vw;
  font-weight: 400;
  margin-top: -1vw;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 1.2vw;
  -webkit-text-stroke: #707070;
  letter-spacing: 2px;
  margin-left: 0.8vw;
}

img {
  width: 23vw;
  height: 23vw;
}

section {
  display: grid;
  grid-template-columns: max-content auto max-content;
  margin-left: 7vw;
  margin-right: 7vw;
  margin-bottom: 10vw;
}

.info {
  display: flex;
  flex-direction: column;
  margin-left: 3vw;
}

.disappear {
  display: none;
}

.square {
  height: 1.5vw;
  width: 1.5vw;
  border-style: ridge;
  border-color: black;
  border-width: 0.15vw;
  border-radius: 20%;
  cursor: pointer;
  margin-left: 1vw;
  margin-top: 1.1vw;
}

.color {
  display: flex;
  flex-direction: row;
}

.turquoise {
  background-color: #a5e4d3;
}

.yellow {
  background-color: #f1e19d;
}

.price {
  font-size: 1.4vw;
  font-weight: 600;
}

.underline {
  text-decoration-line: line-through;
}

.amount {
  display: flex;
  flex-direction: column;
  margin-top: 10.5vw;
}

.count {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  -webkit-text-stroke: #707070;
  letter-spacing: 2px;
}

.minus {
  font-size: 3.5vw;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-style: solid;
  border-color: #aed5b2;
  border-width: 1.5px;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-bottom: 0.2vw;
  margin-top: 0.2vw;
}

.minus:hover {
  cursor: pointer;
  background-color: #aed5b2;
  border-color: #aed5b2;
  color: #000000;
  border-color: #aed5b2;
  border-width: 1.5px;
  box-shadow: 0;
}

.number {
  font-size: 2vw;
  border-bottom-style: solid;
  border-top-style: solid;
  border-color: #aed5b2;
  border-width: 1.5px;
  padding-left: 0.7vw;
  padding-right: 0.7vw;
  margin-bottom: 0.2vw;
  margin-top: 0.2vw;
  padding-top: 0.8vw;
}

.plus {
  font-size: 3.5vw;
  border-bottom-style: solid;
  border-right-style: solid;
  border-top-style: solid;
  border-color: #aed5b2;
  border-width: 1.5px;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-bottom: 0.2vw;
  margin-top: 0.2vw;
  padding-top: 0.2vw;
}

.plus:hover {
  cursor: pointer;
  background-color: #aed5b2;
  border-color: #aed5b2;
  color: #000000;
  border-color: #aed5b2;
  border-width: 1.5px;
  box-shadow: 0;
}

.amount button {
  font-family: "Raleway", sans-serif;
  font-size: 1vw;
  border-color: #000000;
  background-color: white;
  color: #000000;
  border-width: 1.5px;
  padding-top: 0.8vw;
  padding-bottom: 0.8vw;
  padding-right: 1.2vw;
  padding-left: 1.2vw;
  letter-spacing: 2.5px;
  margin-top: 3.5vw;
  box-shadow: 0;
}

.amount button:hover {
  cursor: pointer;
  background-color: black;
  border-color: black;
  color: white;
  border-width: 1.5px;
  box-shadow: 0;
}

.pay {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  font-size: 1.6vw;
  padding-left: 65vw;
  padding-bottom: 3vw;
  padding-top: 2vw;
  margin-top: 2vw;
  margin-left: 0;
  margin-right: 0;
}

#ship {
  border-bottom-style: solid;
  border-color: #aed5b2;
  border-width: 0.2vw;
  padding-bottom: 1vw;
  padding-left: 1.5vw;
  margin-right: 2vw;
}

.moveRight {
  padding-left: 1.5vw;
}

.pay button {
  font-family: "Raleway", sans-serif;
  font-size: 1vw;
  border-color: #000000;
  background-color: #000000;
  color: white;
  border-width: 1.5px;
  width: 250px;
  height: 50px;
  letter-spacing: 2.5px;
  margin-top: 3.5vw;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0;
  max-width: 20vw;
}

.pay button:hover {
  cursor: pointer;
  background-color: white;
  border-color: black;
  color: black;
  border-width: 1.5px;
  box-shadow: 0;
}
