.AnnouncementBar {
  position: relative;
  text-align: center;
  font-size: 10px;
  z-index: 1;
  background-color: black;
}

.AnnouncementBar a,
:visited,
ul,
a {
  list-style: none;
  text-decoration: none;
  color: white;
}

.AnnouncementBar__Wrapper {
  padding: 12px 15px;
}

.AnnouncementBar__Content {
  color: inherit;
  margin: 0;
}

.AnnouncementBar__Content span,
#navigation span {
  font-size: 11px;
  letter-spacing: 0.1em;
  text-align: right;
  color: #fff;
}

@media screen and (min-width: 641px) {
  .AnnouncementBar {
    font-size: 11px;
  }
}

nav {
  margin: 0;
  max-width: 100%;
  height: 175px;
  flex-direction: column;
  background-size: cover;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align-last: justify;
  padding: 0 50px 0 50px;
  z-index: 2;
}

.hidden {
  display: none;
}

#navbar {
  z-index: 5;
  position: fixed;
  min-width: 100%;
  top: 0;
  transition: ease-in-out 0.5s;
}

.blurred {
  backdrop-filter: blur(5px);
  transition: ease-in-out 0.1s;
}

nav:hover {
  background-color: rgba(0, 0, 0, 0.7);
  transition: ease-in 0.2s;
}

input {
  font-family: "Raleway", sans-serif;
  width: 250px;
  height: 30px;
  background: transparent;
  font-size: 11px;
  letter-spacing: 0.1em;
  text-align: left;
  border: solid white 1px;
}

::-webkit-input-placeholder {
  /* Edge */
  color: rgb(137, 137, 137);
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(137, 137, 137);
}

::placeholder {
  color: rgb(213, 213, 213);
}

.logo {
  width: 300px;
  padding-top: 20px;
  position: relative;
  left: -6%;
}

li {
  padding-top: 10px;
  display: inline-block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 16px;
  letter-spacing: 0.1em;
}

ul a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;

  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

ul a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

ul a:hover:after {
  width: 100%;
  left: 0;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  letter-spacing: 5px;
  font-size: 3.2vw;
  color: #000000;
  text-align: center;
  margin-bottom: 5vw;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 1.8vw;
  font-weight: 400;
  margin-top: -1vw;
  margin-bottom: 0.9vw;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 1.1vw;
  -webkit-text-stroke: #707070;
  letter-spacing: 2px;
  margin-left: 0.8vw;
  row-gap: 0.5vw;
}

img {
  width: 19vw;
  height: 19vw;
}

section {
  display: grid;
  grid-template-columns: max-content auto max-content;
  margin-left: 7vw;
  margin-right: 7vw;
  margin-bottom: 6vw;
}

.info {
  display: flex;
  flex-direction: column;
  margin-left: 3vw;
}

.disappear {
  display: none;
}

.square {
  height: 1.5vw;
  width: 1.5vw;
  border-style: ridge;
  border-color: black;
  border-width: 0.15vw;
  border-radius: 20%;
  cursor: pointer;
  margin-left: 1vw;
  margin-top: 1.1vw;
}

.color {
  display: flex;
  flex-direction: row;
}

.turquoise {
  background-color: #a5e4d3;
}

.yellow {
  background-color: #f1e19d;
}

.price {
  font-size: 1.4vw;
  font-weight: 600;
}

.underline {
  text-decoration-line: line-through;
  opacity: 50%;
}

.amount {
  display: flex;
  flex-direction: column;
  margin-top: 10.5vw;
}

.count {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  -webkit-text-stroke: #707070;
  letter-spacing: 2px;
}

.minus {
  font-size: 3.5vw;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-style: solid;
  border-color: #aed5b2;
  border-width: 1.5px;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-bottom: 0.2vw;
  margin-top: 0.2vw;
}

.minus:hover {
  cursor: pointer;
  background-color: #aed5b2;
  border-color: #aed5b2;
  color: #000000;
  border-color: #aed5b2;
  border-width: 1.5px;
  box-shadow: 0;
}

.number {
  font-size: 2vw;
  border-bottom-style: solid;
  border-top-style: solid;
  border-color: #aed5b2;
  border-width: 1.5px;
  padding-left: 0.7vw;
  padding-right: 0.7vw;
  margin-bottom: 0.2vw;
  margin-top: 0.2vw;
  padding-top: 0.8vw;
}

.plus {
  font-size: 3.5vw;
  border-bottom-style: solid;
  border-right-style: solid;
  border-top-style: solid;
  border-color: #aed5b2;
  border-width: 1.5px;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-bottom: 0.2vw;
  margin-top: 0.2vw;
  padding-top: 0.2vw;
}

.plus:hover {
  cursor: pointer;
  background-color: #aed5b2;
  border-color: #aed5b2;
  color: #000000;
  border-color: #aed5b2;
  border-width: 1.5px;
  box-shadow: 0;
}

.amount button {
  font-family: "Raleway", sans-serif;
  font-size: 1vw;
  border-color: #000000;
  background-color: white;
  color: #000000;
  border-width: 1.5px;
  width: 250px;
  height: 50px;
  letter-spacing: 2.5px;
  margin-top: 3.5vw;
  box-shadow: 0;
}

.amount button:hover {
  cursor: pointer;
  background-color: black;
  border-color: black;
  color: white;
  border-width: 1.5px;
  box-shadow: 0;
}

.payment-total-div {
  margin-top: 50px;
  height: 400px;
  width: 100%;
  background-color: #f5f5f5;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding-right: 100px;
  box-sizing: border-box;
}

.payment-cost {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.payment-total-flex {
  display: flex;
  justify-content: space-between;
}

.payment-total-flex-parent {
  width: 500px;
  margin-top: 50px;
}

.payment-total-line {
  width: 500px;
  height: 1px;
  background-color: #aed5b2;
}

.complete-button {
  margin-top: 30px;
}

button {
  background-color: #000000;
  border-color: #000000;
  color: white;
  letter-spacing: 2.5px;
  box-shadow: 0;
  width: 250px;
  height: 50px;
}

button:hover {
  cursor: pointer;
  letter-spacing: 2.5px;
  background-color: white;
  border-color: white;
  color: #000000;
  border-color: #000000;
  border-width: 1.5px;
  box-shadow: 0;
}
