h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  letter-spacing: 13px;
  font-size: 5vw;
  color: #757575;
  text-align: center;
  margin-bottom: 3vw;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  letter-spacing: 5px;
  font-size: 3.2vw;
  color: #000000;
  text-align: center;
  margin-bottom: 5vw;
}

section {
  display: flex;
  flex-direction: row;
  column-gap: 5vw;
  padding-left: 5vw;
  margin-bottom: 9vw;
}

img {
  width: auto;
  height: 33vw;
  outline: 1px solid white;
  outline-offset: -0.75vw;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 1.4vw;
  max-width: 45vw;
  -webkit-text-stroke: #707070;
  letter-spacing: 2px;
}

button {
  font-family: "Raleway", sans-serif;
  font-size: 1vw;
  background-color: #000000;
  border-color: #000000;
  color: white;
  width: 250px;
  height: 50px;
  letter-spacing: 2.5px;
  margin-top: 6.8vw;
  box-shadow: 0;
}

button:hover {
  cursor: pointer;
  background-color: white;
  border-color: white;
  color: #000000;
  border-color: #000000;
  border-width: 1.5px;
  box-shadow: 0;
}
